

  .header {
    background-color: var(--color-crema);
    color: var(--color-logo);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap

  }

  .navList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

